:root {
    --bg: #030303;
    --primary: #ffffff96;
    --brand: #006400;
    --brand-hover: #68c468;
    --bdr: .5rem;
    --border-line: 2px solid #03d403;
    --trans: all .2s ease-in;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: var(--bg);
}

a {
    color: var(--brand);
    text-decoration: underline;
    transition: var(--trans);
}

a:hover {
    color: var(--brand-hover);
    text-decoration: none;
}

.navbar {
    border-bottom: var(--border-line);
    background: linear-gradient(90deg, #000, #007000);
    background-size: cover;
}

.btn-primary {
    background: var(--brand-hover);
    border: var(--border-line);
}

.btn-primary:hover {
    border: var(--border-line);
}

.btn-outline-primary {
    border-color: var(--brand);
    color: var(--brand);
}

.btn-outline-primary:hover {
    background: var(--brand);
    border-color: var(--brand);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 288px);
    column-gap: 123px;
    row-gap: 75px;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }